<launch>
  <arg name="param_file" default="$(find applanix_bridge)/launch/default_config.yaml"/>
  <arg name="publish_tf" default="True"/>
  <arg name="odom_frame" default="gps_odom"/>
  <arg name="base_frame" default="base_link"/>
  <arg name="zero_start" default="False"/>
  <arg name="origin" default="None"/>

  <group ns="applanix">
    <rosparam command="load" file="$(arg param_file)"/>
     
    <node name="applanix_bridge" pkg="applanix_bridge" type="bridge" />
    <node name="applanix_params" pkg="applanix_bridge" type="params" />
    <node name="applanix_publisher" pkg="applanix_bridge" type="publisher" >
      <rosparam subst_value="true">
        publish_tf: $(arg publish_tf)
        odom_frame: $(arg odom_frame)
        base_frame: $(arg base_frame)
        zero_start: $(arg zero_start)
        /gps_origin: $(arg origin)
      </rosparam>
    </node>
    <node name="applanix_diagnostics" pkg="applanix_bridge" type="diagnostics_publisher" />
  </group>
</launch>
